<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <p>
            Hello! I am Younes Shaterzadeh, studying Web Development. This project is part of my web app assignment.<br>
            I am using Node.js, Express, and Handlebars to create a simple web application.<br>
            The application is a store that displays items and categories.<br>
            You can add, edit, and delete items and categories.<br>
            You can also view items by category.<br>
            I hope you enjoy using this application.<br>
        </p>
    </div>
</div>
