<div class="row">
    <div class="col-md-12">
        <h2>About Us</h2>
        <p>My name is Younes Shaterzadeh. I am a student of Seneca Polytechnic pursuing the Computer Programming Program (CPP).</p>
    </div>
</div>
