<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <p>
            Hello! I am Younes Shaterzadeh, studying Web Development. This project is part of my web app assignment.
        </p>
    </div>
</div>
