<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link href="https://unpkg.com/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Add Category</h2>
        <hr>
        <form action="/categories/add" method="POST">
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <input type="text" class="form-control" id="category" name="category" autofocus required>
            </div>
            <button type="submit" class="btn btn-success">Add Category</button>
        </form>
    </div>
</body>
</html>