<div class="row">
    <div class="col-md-12">
        <h2>Add New Item</h2>
        <form method="post" action="/items/add" enctype="multipart/form-data">
            <fieldset>
                <legend>Feature Image</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <input class="form-control" id="featureImage" name="featureImage" type="file" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            
            <fieldset>
                <legend>Post Content</legend>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="name">Item Name:</label>
                            <input class="form-control" id="name" name="name" type="text" placeholder="Enter item name" required />
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="price">Price:</label>
                            <input class="form-control" id="price" name="price" type="number" placeholder="Enter item price" required />
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" rows="5" placeholder="Enter item description"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="category">Category:</label>
                            <select class="form-control" name="category" id="category" required>
                                <option value="1">Home, Garden</option>
                                <option value="2">Electronics, Computers, Video Games</option>
                                <option value="3">Clothing</option>
                                <option value="4">Sports & Outdoors</option>
                                <option value="5">Pets</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="published">Visibility:</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="published" id="published" />
                                    Published
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            
            <hr />
            <input type="submit" class="btn btn-primary" value="Add Post" />
        </form>
    </div>
</div>
